{% extends "../base.html" %}

{% block app_head %}Załóż konto: {% endblock %}

{% block content %}
<div>
        {% if messages %}
            {% for message in messages %}
                {{ message|safe }}
            {% endfor %}
        {% endif %}
</div>
    <form method="post">
        <div class="mb-3 form-control">
        {% csrf_token %}
        {% for field in form %}
    <br><div class="row">
       <div class="col-md-2 ms-sm-auto col-lg-2 px-md-6">
       {{ field.label_tag }}
        {% if field.help_text %}
          <sup>{{ field.help_text }}</sup>
        {% endif %}
        {% for error in field.errors %}
             <div class="alert alert-danger">{{error}}</div>
          {% endfor %}
       </div><div class="col-md-10 pull-left">
         {{ field }}
       </div>
    </div>
 {% endfor %}
     <br> <input class="btn btn-success" type="submit" value="Zapisz">
    </form>
{% endblock %}