{% extends "../base.html" %}

{% block app_head %}Zmień hasło: {% endblock %}

{% block content %}
<div>
        {% if messages %}
            {% for message in messages %}
                {{ message|safe }}
            {% endfor %}
        {% endif %}
</div>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="mb-3 form-control">

        {% for field in form %}
    <br><div class="row">
       <div class="col-md-2 ms-sm-auto col-lg-2 px-md-6">
       {{ field.label_tag }}
        {% if field.error %}
          <sup>{{ field.error }}</sup>
        {% endif %}

       </div><div class="col-md-10 pull-left">
         {{ field }}
       </div>
    </div>
 {% endfor %}
        <input class="btn btn-success" type="submit" value="Zapisz nowe hasło">
    </form>
{% endblock %}
