{% extends "../base.html" %}

{% block app_head %}Edytuj profil: {% endblock %}

{% block content %}
<div class>
        {% if messages %}
            {% for message in messages %}
    <p  class="btn btn-danger"> {{ message|safe }} </p>
            {% endfor %}
        {% endif %}
</div>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="mb-3 form-control">

        {% for field in form %}
    <br><div class="row">
       <div class="col-md-2 ms-sm-auto col-lg-2 px-md-6">
       {{ field.label_tag }}
        {% if field.help_text %}
          <sup>{{ field.help_text }}</sup>
        {% endif %}

       </div><div class="col-md-10 pull-left">
         {{ field }}
       </div>
    </div>
 {% endfor %}
     <br> <input class="btn btn-success" type="submit" value="Zapisz">
        </div>
     </form>
      <div>
       <form action="{% url 'change-password' %}" enctype='multipart/form-data'>
       {% csrf_token %}
     <br> Nie pamiętasz hasła?  <input class="btn btn-light" type="submit" value="Zmień hasło">
 </form>
</div>


{% endblock %}