{% extends "../base.html" %}

{% block app_head %}Wybierz gatunek którego szukasz{% endblock %}

{% csrf_token %}

{% block content %}
    <style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
    </style>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Kategoria</th>
      <th scope="col">Zdjęcie</th>
    </tr>
  </thead>
  <tbody>
      {% for category in page.object_list %}
    <tr>
      <th scope="row">{{ page.start_index|add:forloop.counter0 }}</th>
      <td> <a class="nav-link text-secondary" href="{% url 'chosen-category' category.slug %}"> {{ category.name }}</td>
        {% if category.picture.url %}
      <td><img width="200" height="200" class="img-thumbnail" src="{{ category.picture.url }}/"></td>
        {% endif %}
    </tr>
   </a>
  {% endfor %}
  </tbody>
  </div>
    </div>
</table>
    <div class="pagination">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">< poprzednia</a>
        {% endif %}
      {% for pg in page.paginator.page_range %}
            <a href="?page={{pg}}">{{pg}}</a>
      {% endfor %}
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">następna ></a>
        {% endif %}
</div>
{% endblock %}
