{% extends "../base.html" %}

{% block app_head %}Usuń roślinę z profilu: {{ searched_value }} {% endblock %}


{% block content %}
<form class="d-flex" method="POST">
      {% csrf_token %}
    <div>
<a> Czy na pewno chcesz usunąć z moich roślin: {{ plant.name }} ?</a>
    </div>
    <div>
        <br>
        <input class="btn btn-success form-check-inline" name="delete" type="submit" value="Tak">
        <input class="btn btn-success form-check-inline" name="delete" type="submit" value="Nie">
        </br>
    </div>
</form>
{% endblock %}