{% extends "../base.html" %}

{% block app_head %}Moje rośliny: {% endblock %}



{% block content %}
<form class="d-flex" method="POST">
  {% csrf_token %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Roślina</th>
      <th scope="col">Gatunek</th>
      <th scope="col">Zdjęcie</th>
    </tr>
  </thead>
  <tbody>
      {% for plant in my_plants %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td> <a class="nav-link text-secondary" href="{% url 'plant-view' plant.category.slug plant.slug %}"> {{ plant.name }}</td>
      <td>{{ plant.category.name }}</td>
        {% if plant.picture.url %}
      <td><img width="120" height="120" class="img-thumbnail" src="{{ plant.picture.url }}/"></td>
      <td><a class="btn btn-success" aria-current="page" href="{% url 'delete-plant-plants' plant.slug %}">Usuń z moich roślin</a></td>
        {% endif %}
    </tr>
    </a>
       {% empty %}
          <tr>
            <td colspan="4">Brak wyników wyszukiwania</td>
          </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}